<div class="container-fluid widget-wrap">
    <div class="row month-label">
        <div class="col-xs-12 col-xs-offset-1">
            <div class="row month-label-partition-row">
                <div class="col-xs-2 text-center" ng-click="decrementMonth()">
                    &lt;
                </div>
                <div class="col-xs-10 text-center">
                    October 2016
                </div>
                <div class="col-xs-2 text-center" ng-click="incrementMonth()">
                    &gt;
                </div>
            </div>
        </div>
    </div>
    <div class="row week-row" ng-repeat="week in weeks">
        <div class="col-xs-12 col-xs-offset-1">
            <div class="row week-partition-row">
                <div class="col-xs-2" ng-repeat="day in week.days" ui-sref="events({day: day.moment.date(), month: day.moment.month()+1})">
                    <div class="row week-day-number text-center">
                        <div class="col-xs-14">
                            {{day.moment.date()}}
                        </div>
                    </div>
                    <div class="row week-day-events">
                        <div class="col-xs-14">
                            1. special event
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>