<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./src/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./src/css/app.css"/>
</head>
<body ng-app="calendarApp">

    <ui-view></ui-view>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="./src/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="./src/app/app.js"></script>
    <script src="./src/app/calendar/calendarData/calendarData.js"></script>
    <script src="./src/app/calendar/calendarInterface/calendarInterface.js"></script>
    <script src="./src/app/calendar/calendarBuilder/calendarBuilder.js"></script>
    <script src="./src/app/calendar/events/eventsInterface.js"></script>
    <script src="./src/app/calendar/events/weatherForecast/weatherForecast.js"></script>

    <!-- templates all moved to index.html to allow site loading without localhost -->
    <script type="text/ng-template" id="calendar">
        <calendar></calendar>
    </script>

    <script type="text/ng-template" id="calendarInterface">
        <div class="container-fluid widget-wrap">
            <div class="row month-label">
                <div class="col-xs-12 col-xs-offset-1">
                    <div class="row month-label-partition-row">
                        <div class="col-xs-2 text-center btn-primary" ng-click="decrementMonth()">
                            &lt;&lt;
                        </div>
                        <div class="col-xs-10 text-center btn-info">
                            <h4>{{thisCalendarMonthDisplay}}</h4>
                        </div>
                        <div class="col-xs-2 text-center btn-default btn-primary" ng-click="incrementMonth()">
                            &gt;&gt;
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-xs-offset-1">
                    <div class="row days-of-week bg-info">
                        <div class="col-xs-2 text-center">
                            Sunday
                        </div>
                        <div class="col-xs-2 text-center">
                            Monday
                        </div>
                        <div class="col-xs-2 text-center">
                            Tuesday
                        </div>
                        <div class="col-xs-2 text-center">
                            Wednesday
                        </div>
                        <div class="col-xs-2 text-center">
                            Thursday
                        </div>
                        <div class="col-xs-2 text-center">
                            Friday
                        </div>
                        <div class="col-xs-2 text-center">
                            Saturday
                        </div>
                    </div>
                </div>
            </div>
            <div class="row week-row" ng-repeat="week in weeks">
                <div class="col-xs-12 col-xs-offset-1">
                    <div class="row week-partition-row">
                        <div ng-repeat="day in week.days" ng-click="selectDayForEventsPage(day); goToEvents(day);" ng-class="checkIfDayIsNotCurrentMonth(day) ? 'col-xs-2 off-month-days-panel' : 'col-xs-2'">
                            <div class="row week-day-events">
                                <div class="col-xs-14">
                                    <div class="row">
                                        <div class="col-xs-14">
                                            <div ng-class="day.selected ? 'panel panel-primary' : checkIfDayIsNotCurrentMonth(day) ? 'off-month-days-panel' : isItSameDate(day) ? 'panel panel-success' : 'panel panel-info'">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-xs-5">
                                                            <strong>{{day.moment.date()}}</strong><span ng-show="isItSameDate(day)"> Today</span>
                                                        </div>
                                                        <div class="col-xs-9 text-right" ng-show="day.events.length">
                                                            Events <span class="badge">{{day.events.length}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <ul style="padding-left: 20px;">
                                                        <li ng-show="filterEventsByType(day.events, 'Meeting').length">{{filterEventsByType(day.events, "Meeting").length}} Meetings</li>
                                                        <li ng-show="filterEventsByType(day.events,'Appointment').length">{{filterEventsByType(day.events, "Appointment").length}} Appointments</li>
                                                        <li ng-show="filterEventsByType(day.events, 'Task').length">{{filterEventsByType(day.events, "Task").length}} Tasks</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="eventsManager">
        <events-interface></events-interface>
    </script>

    <script type="text/ng-template" id="eventsInterface">
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-10 events-wrapper">
                    <div class="row">
                        <div class="col-xs-7">
                            <h3>{{today.moment.format('MMMM Do, YYYY')}}</h3>
                        </div>
                        <div class="col-xs-7" ng-show="forecast.length">
                            <h3 class="text-right">Forecast: {{forecast[0].text}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 events-left-column">
                            <div class="row">
                                <select class="form-control" ng-model="eventType">
                                    <option value="Meeting" selected="true">Meeting</option>
                                    <option value="Appointment">Appointment</option>
                                    <option value="Task">Task</option>
                                </select>
                            </div>
                            <div class="row">
                                <button class="btn btn-primary col-xs-14" ng-click="addEvent(eventType,eventName)">
                                    Add Event
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-10 events-right-column">
                            <div class="row">
                                <input type="text" class="form-control" ng-model="eventName"/>
                            </div>
                            <div class="row" ng-show="!today.events.length">
                                <h4>
                                    There are no entries.
                                </h4>
                            </div>
                            <div class="row" ng-repeat="event in today.events">
                                <div ng-class="{'panel panel-info col-xs-12':event.type == 'Task',
                        'panel panel-primary col-xs-12':event.type == 'Meeting', 'panel panel-warning col-xs-12':event.type == 'Appointment'}">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{event.type}}</h3>
                                    </div>
                                    <div class="panel-body event-name">
                                        <p >{{event.name}}</p>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="btn-group col-xs-14">
                                        <button type="button" class="btn btn-default" ng-click="removeEvent($index)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</body>
</html>