
.widget-wrap .month-label > div, .widget-wrap .week-row > div{
    border-bottom: 1px solid darkslategrey;
}

/* week rows */

.week-partition-row > div[class*="col-xs-"]{
    border-right: 1px solid darkslategrey;
}

.week-partition-row > div[class*="col-xs-"]:first-child {
    border-left: 1px solid darkslategrey;
}

.week-day-number, .week-day-events {
    padding: 5px;
}

.week-day-events {
    height: 100px;
}

/* top row */

.month-label-partition-row > div:nth-child(1),.month-label-partition-row > div:nth-child(3) {
    border-right: 1px solid darkslategrey;
    border-left: 1px solid darkslategrey;
}

.month-label-partition-row > div {
    height: 50px;
    padding-top:15px;
}

/* events page */

.events-left-column, .events-right-column {
    padding: 5px;
}

.events-left-column > div:nth-child(2),.events-right-column > div:nth-child(2) {
    margin-top: 5px;
}
.events-right-column > div > div:nth-child(2) >div{
    margin-left: 5px;
}
