
.widget-wrap .month-label > div, .widget-wrap .week-row > div{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* week rows */

.week-partition-row > div[class*="col-xs-"]{
    border-right: 1px solid rgba(0,0,0,0.2);
    height: 130px;
}

.week-partition-row > div[class*="col-xs-"]:first-child {
    border-left: 1px solid rgba(0,0,0,0.2);
}

.week-partition-row > div:hover{
    border: 1px solid #337ab7;
    cursor: pointer;
}

.week-day-events {
    padding: 5px;
}

.week-day-events .panel {
    height: 120px;
}

.week-day-events .panel-body, .week-day-events .panel-heading {
    padding: 5px;
}

.week-day-number h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}


/* top row */

.month-label-partition-row > div:nth-child(1),.month-label-partition-row > div:nth-child(3) {
    border-right: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
}

.month-label-partition-row h4 {
    margin-top: 0;
}

.month-label-partition-row > div {
    height: 50px;
    padding-top:15px;
    cursor: pointer;
}

.month-label-partition-row {
    border-top: 1px solid rgba(0,0,0,0.2);
    margin-top: 15px;
}

/* days of week row */

.days-of-week > div {
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: 600;
    color: #31708f;
}

.days-of-week > div:first-child {
    border-left: 1px solid rgba(0,0,0,0.2);
}

/* events page */

.events-wrapper {
    margin-top: 15px;
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.2);
    height: 800px;
    background-color: rgb(240,240,240);
}

.events-left-column, .events-right-column {
    padding: 5px;
}

.events-left-column > div:nth-child(2),.events-right-column > div:nth-child(2) ,.events-left-column > div:nth-child(3),.events-right-column > div:nth-child(3) {
    margin-top: 5px;
}
.events-right-column > div > div:nth-child(2) >div{
    margin-left: 5px;
}

.events-left-column select:hover{
    cursor: pointer;
}
